<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="container">
  <div class="row">
    <table class="table">
      <tbody>

        <tr *ngFor="let line of solver.getPieces()">
          <td *ngFor="let piece of line">
            <input type="text" class="form-control" [(ngModel)]="piece.value">
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary" style="margin-left: 55px; margin-bottom: 4px; width: 60px" (click)="this.solver.node.movePiece(direction.Up)">up</button><br>
      <button class="btn btn-primary" style="width: 60px" (click)="this.solver.node.movePiece(direction.Left)">left</button>
      <button class="btn btn-primary" style="margin-left: 50px; width: 60px" (click)="this.solver.node.movePiece(direction.Right)">right</button><br>
      <button class="btn btn-primary" style="margin-left: 55px; margin-top: 4px; width: 60px" (click)="this.solver.node.movePiece(direction.Down)">down</button>
    </div>

    <div class="col-md-4">
      <button class="btn btn-primary" (click)="this.solver.randomizeBoard(nbRandomize)">randomize</button><br>
      <label>Number of random steps</label>
      <input type="text" style="width: 200px;" class="form-control" [(ngModel)]="nbRandomize">
    </div>

    <div class="col-md-4">
      <button class="btn btn-primary" (click)="result = this.solver.clearPuzzle()">Solve</button>
      <p>number of states explored : {{result[0]}}</p>
      <p style="word-break: break-all;" >list of moves : {{result[1]}}</p>
    </div>
  </div>

</div>
